<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- Chạy debug, KHÔNG có targetFramework -->
		<compilation debug="true" />

		<!-- Runtime ASP.NET 2.0 không có thẻ <httpRuntime targetFramework> -->
		<authentication mode="Windows" />

		<!-- Nếu cần thiết lập encoding -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
